@model List<Course>


<div class="container">
	<div class="row">
		@ViewData["Error"]
	</div>

	<table class="table table-striped">
		<thead>

			<tr>
				<th>
					Id
				</th>
				<th>
					CourseName
				</th>
				<th>
					Teacher Id
				</th>
				<th>
					UnEnroll
				</th>
			</tr>



		</thead>

		@if (Model.Count > 0)
		{
			<tbody>
				@foreach (Course course in Model)

				{

					<tr>

						<td>@course.CourseId</td>
						<td>@course.CourseName</td>
						<td>@course.TeacherId</td>
						<td>@Html.ActionLink("UnEnroll","UnEnrollCourse", new {id= course.CourseId})</td>

					</tr>
				}

			</tbody>
		}
		else
		{
			<p class="text-danger"> No Course Enrolled</p>
		}


	</table>

</div>

<div>
	@Html.ActionLink("Back DashBoard","DashBoard")
</div>
